*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
cameralibrary/libs/
cameralibrary/src/main/res/drawable/
